/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* Change make by default 10px = 1rem */
:root {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v9/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'ZCOOL KuaiLe';
  font-style: normal;
  font-weight: 400;
  src: local('ZCOOL KuaiLe Regular'), local('ZCOOLKuaiLe-Regular'), url(https://fonts.gstatic.com/s/zcoolkuaile/v4/tssqApdaRQokwFjFJjvM6h2moYb3.ttf) format('truetype');
}
p {
  font-family: 'Crimson Text';
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem;
}
a {
  font-family: 'ZCOOL KuaiLe';
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
.container {
  min-width: 360px;
  margin: 0 auto;
}
.button {
  background-color: grey;
  margin: 2rem;
  padding: 2rem 0;
  border-radius: 5px;
  width: 70vw;
  /*flex item*/
  align-self: center;
  /*flex container*/
  display: flex;
  justify-content: center;
}
header {
  padding: 2em;
}
header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a.menu-link {
  font-size: 5rem;
  font-family: 'ZCOOL KuaiLe';
  color: black;
}
a.menu-link:hover {
  color: grey;
}
.description {
  padding-bottom: 2rem;
  /*flex container*/
  display: flex;
  flex-direction: column;
  background-color: #dadada;
}
.description img {
  width: 100%;
}
.description h1 {
  font-size: 5rem;
  font-family: 'ZCOOL KuaiLe';
  text-align: center;
  padding: 1.5rem;
}
.description h3 {
  font-size: 2rem;
  font-family: 'ZCOOL KuaiLe';
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}
.hidden {
  display: none;
}
